<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <div class="card shadow">
        <div class="card-body">
          <h3>Classrooms list</h3>
          <app-classrooms-list [classrooms]="classroomsList"></app-classrooms-list>
          <div class="mt-2">
            <button class="btn btn-outline-success">Create new classroom</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-12 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
